<!-- Include Header File -->
<%- include("./partials/header.ejs") %>

<br />
<br />
<br />
<br />
<br />

<!-- User Image Iterator -->
<section class="main-FirstSection" id="course">
  <main class="FirstSection">
    <div class="title">
      <p><strong>My Images</strong><small> (Remember Your image is delete option)</small></p>
    </div>
    
    <div
      class="course-control course-control-cardImage"
      id="imageBodyParent"
    ></div>
  </main>
</section>

<!-- Include Footer  File -->
<%- include("./partials/footer.ejs") %>

<!-- Fetch User Image -->
<script>
  async function fetchImage() {
    const response = await fetch("/api/userimage", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "auth-token": sessionStorage.getItem("auth-token"),
      },
    });
    const result = await response.json();
    if (result.count === 0) {
      let str = `<div class="notFound"><h2>Image Not Found</h2></div>
      <div><a href="/upload" class="link-color">Let Start New More Images And Unique Now</a></div>`;
      let bodyParent = document.getElementById("imageBodyParent");
      bodyParent.innerHTML = str;
      bodyParent.classList.add("active")
    } else {
      document.getElementById("imageBodyParent").innerHTML = result.response;
    }
  }
  fetchImage();

  // <!-- Delete User Image -->
  async function imageDelete(e) {
    let id = e.value;
    if (confirm("You are really delete image")) {
      const response = await fetch("/api/userimagedelete", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "auth-token": sessionStorage.getItem("auth-token"),
        },
        body: JSON.stringify({ id }),
      });
      const result = await response.json();
      fetchImage();
    } else {
    }
  }
</script>


